main {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .title {
    font-size: 4rem;
    text-align: center;
    color: var(--dark-color);
    line-height: 60px;
    margin-bottom: 1.7rem;
}

/* hero */

.title span {
    color: var(--red-color);
}

.hero {
    overflow: hidden;
}

.hero .div-img {
   position: relative;
}

.hero-img {
    width: 110%;
    height: 100%;
    margin-bottom: 20px;
}

.style-img {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.034) 20%, rgb(255, 255, 255) 90%, rgb(255, 255, 255));
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
}

.hero-btn {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 52%;
    transform: translateX(-50%);
    text-align: center;
    width: 60%;
    display: block;
    background: var(--red-color);
    color: var(--light-color);
    padding: 0.7rem;
    border-radius: 12px;
}