main {
    padding: 1rem;
    color: var(--dark-color);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .title {
    font-size: 4rem;
    text-align: center;
    color: var(--dark-color);
    line-height: 60px;
    margin-bottom: 1.7rem;
}



.title span {
    color: var(--red-color);
}

.subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
}

/* hero */

.hero-img {
    height: 500px;
}
